<panda-navigation>
  <div class="container">
    <div class="site-logo">
      <div class="content">
        <a href="{{@blog.url}}" title="{{@blog.title}}"></a>
      </div>
    </div>
    <div class="mobile-menu">
      <div class="content">
        <a href="#" title="Expand Menu">Menu</a>
      </div>
    </div>
    <div class="desktop-menu">
      <nav class="content">
        <ul role="navigation">
          <li><a href="http://neoighodaro.com/" title="Home">Home</a></li>
          <li><a href="http://neoighodaro.com/about" title="All You Need To Know">About</a></li>
          <li><a href="http://neoighodaro.com/work" title="Stuff I've Done">Work</a></li>
          <li class="active"><a href="{{@blog.url}}" title="Ramblings">Blog</a></li>
          <li><a href="http://neoighodaro.com/contact" title="Say Hi">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</panda-navigation>